* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(24, 1, 53);
	color: white;
	min-height: 100vh;
}

#heading {
	text-align: center;
	font-size: 3rem;
}

#image-num {
	text-align: center;
	font-size: 1rem;
	margin: 2rem 0;
	justify-content: center;
	align-items: center;
}

#main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

#search-bar {
	width: 90%;
}

.images {
	padding: 8px;
	width: 550px;
	height: 700px;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.image-main-container {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.footer {
	text-align: center;
	margin: 2rem 0;
	position: relative;
	bottom: 0;
}

#footer-text {
	font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
	.images {
		width: 300px;
		height: 400px;
	}
}
